.header{
    font-size: 12px;
    font-weight: bold;

}

.container00{
    min-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown{
    display: inline-block;
    width: 90px;
    margin-top: 10px;
}

.logoPc{
   width: 220px;
   margin-left: -10px;
   margin-right: 20px;
}