.container00{
    &.container08{
        background-image: url(../../images/humanFlight/01.jpg);
       
    }

    &.container09{
        background-image: url(../../images/humanFlight/02.jpg);
    }

    &.container10{
        background-image: url(../../images/humanFlight/03.jpg);
    }

    &.container11{
        background-image: url(../../images/humanFlight/04.jpg);
    }

    &.container12{
        background-image: url(../../images/humanFlight/05.jpg);
    }
}

.container01Content{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleHuman{
        font-size: 90px;
    }

    .subTitleHuman{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 300px
        ;

    }
}

.eartDesc{
    background-color: black;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .textDescEarth{
        color: $table-itens;
        font-weight: 400;
        font-size: 20px;
       
    }
    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
      }
}

.containerRightContent {
    margin-left: 55%;
    padding-top: 15%;
  }

  .titleSection {
    font-size: 60px;
    font-weight: bold;
  }

  .subTitle {
    font-weight: 300;
    margin-bottom: 40px;
  }

  .containerLeftContent {
    margin-left: 5%;
    padding-top: 15%;
  }


  @media only screen and (max-width: 1020px) {
    .container01Content {

      .titleHuman{
        font-size: 70px;
        font-weight: 400;
       }

      h1 {
        font-size: 30px;
      }
  
      p {
        margin: 20px 0px;
        font-size: 15px;
        font-weight: 300;
      }
    }
  
   .container00{
    height: 100vh;
    width: 100vw;
   }

   
  
    .titleSection {
      font-size: 50px;
      font-weight: bold;
    }
  
    .subTitle {
      font-weight: 300;
      margin-bottom: 40px;
    }
  

  }


  @media  only screen and (max-width: 375px) {
    
    
    .container01Content {


      h1 {
        font-size: 10px;
      }
  
      p {
        font-size: 10px;
      }

      .titleHuman{
        font-size: 40px;
        font-weight: 500;
      }
    }
  
    .arrowDown {
      display: none;
    }
  
    .eartDesc {
      height: 30vh;
      p {
        color: $table-itens;
        font-weight: 400;
        font-size: 14px;
        width: auto;
      }
    }
  
    .containerRightContent {
      margin-left: 20%;
      padding-top: 30%;
    }
  
    .titleSection {
      font-size: 50px;
      font-weight: bold;
    }
  
    .subTitle {
      font-weight: 300;
      margin-bottom: 40px;
    }
  
    .containerLeftContent {
      margin-left: 7%;
      padding-top: 30%;
    }
    
    }
    
  


  

  
